.form{
  position: absolute;
  top: 50%;
  left: 20%;
}
.formArea {
  position: absolute;
  width:35%;
  height: 100%;
  float:left;
  background-color: #484848;
}
.mapArea {
  width:65%;
  float:right;
}
.main {
  width: 100%
  height:100%
}
